body{
    background: url('./2.jpg') no-repeat ;
    background-size: cover;
    z-index: -1;
}
.contianer{
    margin: 7% 20% 0 20%;
    padding-bottom: 3%;
    z-index: 3;
    background:rgba(189, 187, 187, 0.767);
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:10px 10px 5px #696969;
}
.message ,.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}